body {
  color: #555;
  background-color: #fff;
  font-family: roboto, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  border: none;
  border-radius: 30px;
  background-color: #5b5d61;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.button:hover, .button:focus {
  background-color: #000;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contacts-modal {
  position: absolute;
  max-width: 450px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
}
@media screen and (max-width: 479px) {
  .contacts-modal {
    padding: 20px;
  }
}

.contacts-title {
  color: #7fc5c5;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contacts-icon {
  fill: #7a7a7a;
  width: 50px;
  height: 50px;
}
.contacts-icon:hover {
  fill: #7fc5c5;
}

.contacts-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contacts-number {
  color: inherit;
  font-size: 20px;
}

.contacts-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  padding-left: 2px;
  padding-right: 2px;
}
.contacts-btn:hover {
  background-color: #7fc5c5;
}

.iframe {
  display: block;
  margin: auto;
}

.page-price {
  padding-top: 60px;
  max-width: 480px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .page-price {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-price {
    max-width: 1200px;
  }
}

.price-title {
  color: #7fc5c5;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
}

.price-pre-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
}

.price-category {
  color: #7fc5c5;
  margin-bottom: 20px;
}

.price-list {
  margin-bottom: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-point {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .price-point {
    font-weight: 700;
    font-size: 20px;
  }
}

.price-pice {
  font-size: 14px;
  color: #7fc5c5;
}
@media screen and (min-width: 768px) {
  .price-pice {
    font-weight: 400;
    font-size: 18px;
  }
}

.feedback-modal {
  position: absolute;
  max-width: 450px;
  max-width: 100%;
  height: 400px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
}

.feedback-title {
  color: #7fc5c5;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.feedback-input {
  margin: auto;
  display: block;
  min-width: 280px;
  padding: 5px;
  padding-left: 10px;
  border: 2px solid;
  border-color: #7fc5c5;
  margin-bottom: 15px;
  border-radius: 5px;
}

.feedback-label {
  display: block;
  margin-bottom: 10px;
}

.feedback-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(234, 233, 229, 0.9098039216);
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 500px;
  padding-left: 30px;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.page-header {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: rgba(234, 233, 229, 0.9098039216);
  z-index: 9999;
  max-width: 480px;
}
@media screen and (min-width: 480px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 35px;
    padding-left: 35px;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    max-width: 768px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1200px;
  }
}

.number-box {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .number-box {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .number-box {
    margin-right: 0;
    margin-left: 0;
  }
}

.number {
  color: #7a7a7a;
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .number {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.16;
  }
}
.number:hover, .number:focus {
  color: #000;
}

@media screen and (min-width: 768px) {
  .button-box {
    display: none;
  }
}

.mob-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
.nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav-link {
  color: #7a7a7a;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.16;
  }
}
.nav-link:hover, .nav-link:focus {
  color: black;
  text-decoration: underline;
}

.header-icon {
  width: 30px;
  height: 30px;
}

.nav-btn-close {
  display: block;
  color: #000;
  position: absolute;
  top: 28px;
  right: 45px;
}

.logo-box {
  width: 100px;
}

.page-hero {
  background-size: contain;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/coverww.jpg");
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/cover.jpg");
    height: 386px;
    max-width: 768px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .page-hero {
    background-image: url("../images/cover.jpg");
    height: 600px;
    max-width: 1200px;
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    background-size: cover;
    text-align: start;
  }
}

.hero-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 25px;
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    color: #7a7a7a;
  }
}

.hero-text {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .hero-text {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    display: block;
    width: 400px;
    color: #7a7a7a;
    font-size: 20px;
  }
}

.page-services {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 60px;
}

.services-title {
  color: #7fc5c5;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 40px;
}

.services-pre-title {
  display: block;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 16px;
  margin-bottom: 40px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.3333333333%;
  justify-content: center;
  margin-bottom: 40px;
}

.services-item {
  width: 140px;
  border-left: 2px solid;
  border-color: #7fc5c5;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .services-item {
    width: 236px;
  }
}

.services-baner {
  background-size: contain;
  background-repeat: no-repeat;
  height: 115px;
  max-width: 440px;
  background-image: url("../images/coverV2.jpg");
}
@media screen and (min-width: 768px) {
  .services-baner {
    background-size: cover;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .services-baner {
    max-width: 1200px;
  }
}

.examples-title {
  text-align: center;
  color: #7fc5c5;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

.examples-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .examples-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.examples-item {
  margin-bottom: 30px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-item:hover, .examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples-item {
    flex-basis: calc(50% - 30px);
  }
  .examples-item:nth-child(even) {
    margin-left: 30px;
  }
  .examples-item:nth-child(odd) {
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-item {
    flex-basis: calc(33.3333333333% - 30px);
    margin-left: 23px;
  }
}

.examples-img {
  width: 370px;
}
@media screen and (min-width: 768px) {
  .examples-img {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-img {
    width: 370px;
  }
}

.examples-item-box {
  position: relative;
}

.examples-pre-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.examples-box-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #7fc5c5;
  width: 370px;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition: transform 500ms;
}

.examples-item-box:hover .examples-box-text,
.examples-item-box:focus .examples-box-text {
  transform: translateY(0%);
}

.descript-examples {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.examples-text {
  text-align: center;
  font-size: 20px;
}

.examples-link {
  text-decoration: none;
  color: inherit;
}

.examples-inst {
  position: relative;
  background-color: #7fc5c5;
  width: 370px;
  height: 290px;
}
@media screen and (min-width: 768px) {
  .examples-inst {
    width: 339px;
    height: 272px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-inst {
    width: 360px;
    height: 290px;
  }
}

.examples-inst-logo {
  position: absolute;
  top: 110px;
  left: 140px;
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .examples-inst-logo {
    left: 130px;
    top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-inst-logo {
    left: 140px;
    top: 110px;
  }
}

.page-info {
  padding-top: 60px;
  padding-bottom: 60px;
}

.info-title {
  color: #7fc5c5;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

.info-wrapper {
  flex-direction: column;
  display: flex;
  border-left: 2px solid;
  border-color: #7fc5c5;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-bottom: 60px;
}

.info-text {
  margin-bottom: 40px;
}

.info-button {
  text-align: center;
  width: 200px;
  margin: auto;
}

.info-baner {
  margin: auto;
  display: flex;
  align-items: center;
  background-image: url("../images/info.jpg");
  height: 240px;
  max-width: 440px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .info-baner {
    height: 390px;
    max-width: 748px;
  }
}
@media screen and (min-width: 1200px) {
  .info-baner {
    max-width: 1170px;
    background-size: cover;
  }
}

.info-icon {
  text-align: center;
  color: #fff;
  height: 134px;
}
@media screen and (min-width: 768px) {
  .info-icon {
    flex-basis: 25%;
    height: 164px;
  }
}

.info-img {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .info-img {
    height: 50px;
  }
}

.info-descript {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .info-descript {
    font-size: 16px;
  }
}

.page-footer {
  background-color: #f2f2f2;
  padding: 30px;
  max-width: 480px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .page-footer {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    max-width: 1200px;
  }
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  display: flex;
  margin-right: 70px;
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  border: none;
  background-color: transparent;
}

.footer-icon {
  fill: inherit;
  width: 30px;
  height: 30px;
}
.footer-icon:hover {
  fill: #7fc5c5;
}

.partners {
  padding-bottom: 30px;
}

.partners-banner {
  background-image: url("../images/part.jpg");
  height: 200px;
  max-width: 440px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .partners-banner {
    max-width: 748px;
    height: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .partners-banner {
    max-width: 1170px;
    height: 600px;
  }
}

.partners-title {
  text-align: center;
  color: #7fc5c5;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */