.page-info {
  padding-top: 60px;
  padding-bottom: 60px;
}
.info-title {
  color: #7fc5c5;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}
.info-wrapper {
  flex-direction: column;
  display: flex;
  border-left: 2px solid;
  border-color: #7fc5c5;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-bottom: 60px;
}
.info-text {
  margin-bottom: 40px;
}
.info-button {
  text-align: center;
  width: 200px;
  margin: auto;
}
.info-baner {
  margin: auto;
  background-image: url("../images/info-img.jpg");
  height: 240px;
  max-width: 440px;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    height: 360px;

    max-width: 748px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1170px;
    height: 600px;
    background-size: contain;
  }
}
