.page-header {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #eae9e5e8;
  z-index: 9999;
  max-width: 480px;


  @media screen and (min-width: 480px) {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 35px;
    padding-left: 35px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 40px;
    padding-left: 40px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.number-box {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-left: 0;
  }
}
.number {
  color: #7a7a7a;
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
  }
  &:hover,
  &:focus {
    color: #000;
  }
}
.button-box {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}
.nav-link {
  color: #7a7a7a;
  font-weight: 700;
  cursor: pointer;

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
  }

  &:hover,
  &:focus {
    color: black;
    text-decoration: underline;
  }
}

.header-icon {
  width: 30px;
  height: 30px;
}
.nav-btn-close {
  display: block;
  color: #000;
  position: absolute;
  top: 28px;
  right: 45px;
  z-index: 500;
}
