.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eae9e5e8;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 500px;
  // padding: 90px 280px 50px 80px;
  padding-left: 30px;
  padding-top: 50px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
